
.nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:0.1px;
    align-content: center;
    margin-left: 35%;
}

h1{
    color: #312B46;
    font-weight: 400;
    margin-top: 3px;
}

.whole{
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 100px;
}

.about{
    /* align-items: end; */
    margin-left: 200px;
}

.about_svg{
    height: 25px;
    cursor: pointer;
}


