.color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  width: 60px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-left: 10px;
}
